.Rproj.user
NewGPLesson.Rproj
.Rhistory
.RData
.Ruserdata
.DS_STORE
#exclude folders *recursively*, otherwise overrules all exceptions!
/assets/**
/assembled-lesson-materials/**
#excludes subfolders from ignore rules
!/assets/**/
!/assets/**/.gitkeep
!/assets/**/help.txt
!/assembled-lesson-materials/**/
!assembled-lesson-materials/**/.gitkeep
WhatIsBeauty (Step2) Lesson Sketch.gdoc
WhatIsBeauty (Step4) Project Roadmap.gdoc
WhatIsBeauty_Roadmap.docx
*.gdoc
*.gslides
*.gsheet
Monster Sketch Drafts
